h1 {
    background-color: #f8c291;
    color: white;
    padding: 20px;
    text-align: center;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}