<mat-card class="matCardContainer">
  <mat-card-header>{{employeeHeaderStatus}} employee details</mat-card-header>
  <form [formGroup]="employeeForm">
    <mat-card-content class="parentForm">
      <div class="form1">
        <div class="parentFormContainer">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Employee Name" formControlName="name" />
          </mat-form-field>
          <div
            *ngIf="employeeForm.controls.name?.invalid && (employeeForm.controls.name?.touched || employeeForm.controls.name?.dirty)">
            <mat-error *ngIf="employeeForm.controls.name?.errors?.['required']">Name is required field</mat-error>
            <mat-error *ngIf="employeeForm.controls.name?.errors?.['minLength']"></mat-error>
          </div>
        </div>
        <div class="parentFormContainer">
          <mat-form-field appearance="outline">
            <mat-label>Mobile number</mat-label>
            <input type="number" matInput placeholder="Enter Mobile no" formControlName="mobile" />
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
          <div
            *ngIf="employeeForm.controls.mobile?.invalid && (employeeForm.controls.mobile?.touched || employeeForm.controls.mobile?.dirty)">
            <mat-error *ngIf="employeeForm.controls.mobile?.errors?.['required']">Mobile no is required
              Field</mat-error>
            <mat-error *ngIf="employeeForm.controls.mobile?.errors?.['minLength']">Please enter 10 Digit </mat-error>
            <mat-error *ngIf="employeeForm.controls.mobile?.errors?.['maxLength']">Enter Only 10 digit</mat-error>
          </div>
        </div>
        <div class="parentFormContainer">
          <mat-form-field appearance="outline">
            <mat-label>Employee Email</mat-label>
            <input matInput placeholder="Enter Employee EmailId" formControlName="email" />
          </mat-form-field>
          <div
            *ngIf="employeeForm.controls.email?.invalid && (employeeForm.controls.email?.touched || employeeForm.controls.email?.dirty)">
            <mat-error *ngIf="employeeForm.controls.email?.errors?.['required']">Email is required field</mat-error>
            <mat-error *ngIf="employeeForm.controls.email?.errors?.['email']">Enter valid email</mat-error>
          </div>
        </div>
        <div class="parentFormContainer">
          <mat-form-field appearance="outline">
            <mat-label>Select Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <div
            *ngIf="employeeForm.controls.gender?.invalid && (employeeForm.controls.gender?.touched || employeeForm.controls.gender?.dirty)">
            <mat-error *ngIf="employeeForm.controls.gender?.errors?.['required']">Please select gender </mat-error>
          </div>
        </div>
      </div>
      <div>
        <div formArrayName="addressArray">
          <mat-card class="childForm">
            <mat-card-header *ngIf="addressHeader">Address</mat-card-header>
            <ng-container *ngFor="let addressForm of addressForms.controls; let i = index">
              <div [formGroupName]="i">
                <div>
                  <mat-card-content class="cardHeight">
                    <div class="childForm">
                      <div class="childFormContainer">
                        {{ i + 1}}
                      </div>
                      <div class="childFormContainer">
                        <mat-form-field appearance="outline">
                          <mat-label [attr.for]="'empAddLine1' + i">Address Line 1</mat-label>
                          <input matInput placeholder="Enter Employee Address" [id]="'empAddLine1' + i"
                            formControlName="addLine1" />
                        </mat-form-field>

                        <div
                          *ngIf=" addressForm.get('addLine1')?.invalid && (addressForm.get('addLine1')?.touched || addressForm.get('addLine1')?.dirty)">
                          <mat-error *ngIf="addressForm.get('addLine1')?.errors?.['required']">'Address field is
                            required
                            field</mat-error>
                        </div>
                      </div>
                      <div class="childFormContainer">
                        <mat-form-field appearance="outline">
                          <mat-label [attr.for]="'empAdd2' + i">Address Line 2</mat-label>
                          <input matInput placeholder="Enter Employee Address" formControlName="addLine2"
                            [id]="'empAdd2' + i" />
                        </mat-form-field>
                      </div>
                      <div class="childFormContainer">
                        <mat-form-field appearance="outline">
                          <mat-label [attr.for]="'empDist' + i">District</mat-label>
                          <input matInput placeholder="Enter Employee District" formControlName="district"
                            [id]="'empDist' + i" />
                        </mat-form-field>

                        <div
                          *ngIf=" addressForm.get('district')?.invalid && (addressForm.get('district')?.touched || addressForm.get('district')?.dirty)">
                          <mat-error *ngIf="addressForm.get('district')?.errors?.['required']">'Address field is
                            required
                            field</mat-error>
                        </div>

                      </div>
                      <div class="childFormContainer">
                        <mat-form-field appearance="outline">
                          <mat-label [attr.for]="'empState' + i" [id]="'empState' + i">Select State</mat-label>
                          <ng-container>
                            <mat-select formControlName="state">
                              <mat-option *ngFor="let option of stateList ; let i=index"
                                value="{{option}}">{{option}}</mat-option>
                            </mat-select>
                          </ng-container>
                        </mat-form-field>
                        <div
                          *ngIf="addressForm.get('state')?.invalid && (addressForm.get('state')?.touched|| addressForm.get('state')?.dirty)">
                          <mat-error *ngIf="addressForm.get('state')?.errors?.['required']">
                            State is required
                          </mat-error>
                        </div>
                      </div>
                      <div class="childFormContainer">
                        <mat-form-field appearance="outline">
                          <mat-label [attr.for]="'empPin' + i">PIN Code</mat-label>
                          <input type="number" matInput placeholder="Enter Area PIN Code" formControlName="pinCode"
                            [id]="'empPin' + i" />
                        </mat-form-field>
                        <div
                          *ngIf="addressForm.get('pinCode')?.invalid && (addressForm.get('pinCode')?.touched || addressForm.get('pinCode')?.dirty)">
                          <mat-error *ngIf="addressForm.get('pinCode')?.errors?.['required']">
                            PIN Code is required field
                          </mat-error>
                        </div>
                      </div>
                      <div class="childFormContainer">
                        <button mat-button color="warn" (click)="removeAddressFormGroup(i)">
                          <mat-icon>delete_forever</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </div>

              </div>
            </ng-container>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
    <div class="btnContainer">
      <div>
        <button type="button" mat-button color="primary" (click)=" addAddress()">
          Add Address
        </button>
      </div>
      <div class="empBtn">
        <button type="submit" *ngIf="employeeAddButton" mat-raised-button color="primary" (click)="saveEmployeeForm()">
          Add employee
        </button>
        <button type="submit" *ngIf="employeeUpdateButton" mat-raised-button color="primary"
          (click)="updateEmployeeData()">
          update employee
        </button>
      </div>
    </div>
  </form>
</mat-card>
<!-- [disabled]="!employeeForm.valid" -->
<!-- [disabled]="isStateDisabled(option)" -->