.mainForm{
    display: flex;
    flex-direction: column;
}
// .parentFormContainer{
//     display: flex;
//     flex-direction: column;
// }
.form1{
    display: flex;
   

}
.childForm{
    display: flex;
   
}
 mat-error{
        // height: 100px;
        padding: 0px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        align-items: start;
                    
        }