<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button color="accent">Select one:-</button>
  <button mat-button color="primary" routerLink="add-employee">
    Add Employee
  </button>
  <button mat-button color="primary" routerLink="add-employee-method">
    Add Employee2nd
  </button>
  <button mat-button color="primary" routerLink="form-array">Form Array</button>
  <button mat-button color="primary" routerLink="skills-form">
    skills Form
  </button>
  <button routerLink="/display-employees" type="button" mat-button color="primary">
    employeeData
  </button>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>