<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button color="accent">Select one:-</button>

  <button mat-button color="primary" routerLink="addEmployee">
    Add Employee
  </button>
  <button mat-button color="primary" routerLink="addEmployee2ndMethod">
    Add Employee@nd
  </button>
  <button mat-button color="primary" routerLink="formArray">Form Array</button>
  <button mat-button color="primary" routerLink="skillsForm">
    skills Form
  </button>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<!-- <div class="container">
  <div>
  
  </div> -->

<!-- <div>
    <p routerLink="addEmployee">Add Employee</p>
  </div>
  <div>
    <p routerLink="addEmployee">Add Employee@nd</p>
  </div>
  <div>
    <p routerLink="formArray">Form Array</p>
  </div>
  <div>
    <p routerLink="skillsForm">skills Form</p>
  </div>
</div> -->
<router-outlet></router-outlet>
<!-- </div> -->
